header{
    display: flex;
    justify-content: center;
    font-family: 'Righteous', sans-serif;
    font-size: 2rem;
}

.noselect {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

h1{
    margin: 2rem 0 1rem 0;
    color: #ffe600;
    text-shadow: 4px 4px 0px rgb(85, 67, 245);
}

h2{
    margin: 1.5rem;
    padding: 10px 50px;
    background-color: rgba(0, 0, 0, 0.459);
    font-family: 'Righteous', sans-serif;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 0px rgb(48, 129, 208);
    border-radius: 20px;
}

input{
    display: none;
}

body {
    background-image: url("http://drive.google.com/uc?export=view&id=1UVh-cDAE2rfE8d_Ha4paB5Qe74C0ACPg");
    background-size: auto 100vh;
    font-family: 'Hedvig Letters Sans', sans-serif;
}

/* SELECCION DE POKEMON */
#selec_player{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjet_selector{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}

.tarjet_pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 250px;
    padding: 10px;
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    color: #ffe600;
    text-shadow:1px 1px 3px #f5f5f56e;
    transition-property: transform;
    transition-duration: 50ms;
}

.tarjet_pokemon:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(85, 67, 245);
    cursor: pointer;
    transform: scale(105%);
    transition-property: transform;
}
.tarjet_pokemon_check{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 195px;
    height: 245px;
    padding: 10px;
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: solid 5px #F5F5F5;
    color: #ffe600;
    text-shadow:1px 1px 3px #f5f5f56e;
    transition-property: transform;
    transition-duration: 50ms;
    box-shadow: 0px 0px 5px #F5F5F5;
    animation-name: tarjetChoise;
    animation-duration: 400ms;
}

.tarjet_pokemon p, .tarjet_pokemon_check p{
    margin: 10px 0 5px 0;
    text-align: center;
    font-size: 2rem;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-weight: bold;
}

.tarjet_pokemon img{
    image-rendering: pixelated;
    transform: scale(120%);
}

.tarjet_pokemon_check img{
    image-rendering: pixelated;
    transform: scale(120%);
    animation-name: selected;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
}

@keyframes selected {
    0%{
        transform: translateY(20px) scale(120%);
    }
    15%{
        transform: translateY(40px) scalex(130%) scaleY(100%);
    }
    35%{
        transform: translateY(-30px) scaley(130%) scaleX(100%);
    }
    55%{
        transform: translateY(30px) scalex(130%) scaleY(100%);
    }
    70%{
        transform: translateY(20px) scale(120%);
    }
    100%{
        transform: translateY(20px) scale(120%);
    }

}

@keyframes tarjetChoise {
    0%{
        transform: scale(100%);
        background-color: rgba(0, 0, 0, 0.459);
        filter: blur(0);
        box-shadow: 0px 0px 0px #ff000000;
        color: #ffe600;
    }
    60%{
        transform: scale(110%);
        background-color: rgb(255, 255, 255);
        filter: blur(5px) brightness(2);
        box-shadow: 0px 0px 10px rgb(255, 251, 0)0;
        color: #ffffff;
    }
    100%{
        transform: scale(100%);
        background-color: rgba(0, 0, 0, 0.459);
        filter: blur(0);
        box-shadow: 0px 0px 0px #ff000000;
        color: #ffe600;
    }
}

.botonConfirmar{
    padding: 10px 25px;
    background-color: #ffe600;
    border: solid 3px rgb(85, 67, 245);
    border-radius: 20px;
    color: rgb(85, 67, 245);
    font-weight: bold;
    font-size: 2rem;
    transition-duration: 50ms;
}

.botonConfirmar:hover{
    background-color: #ffffff;
    color: rgb(85, 67, 245);
    transform: scale(105%);
}

/* COMBATE POKEMON */
#info_battle{
    flex-direction: column;
    align-items: center;
}
.arenaBatalla{
    display: grid;
    width: 85%;
    max-width: 960px;
    height: 55vh;
    margin: 0 auto;
    grid-template-columns: 40% 60%;
    grid-template-rows: 70% 30%;
}

#batalla_visual{
    grid-column: 2/3;
    grid-row: 1/3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 70%;

    box-sizing: border-box;
    background-image: url("http://drive.google.com/uc?export=view&id=1UK1Sd4dfone6DjLzHp8EAw6ej9Z97Suo");
    background-size: cover;
    border: solid 3px black;
    border-radius: 0 20px 20px 0;
}

#vidas_Jugador{
    grid-column: 1/2;
    grid-row: 0/1;
}

#spanplayer{
    font-weight: bold;
    font-size: 1.3rem;
    color: blue;
}

#spanpc{
    font-weight: bold;
    font-size: 1.3rem;
    color: red;
}

#vidas_Enemigo{
    grid-column: 2/3;
    grid-row: 0/1;   
}

#batalla_visual p{
    box-sizing: border-box;
    margin: 5px;
    padding: 10px 5px;
    background-color: #F5F5F5;
    border-radius: 10px;
    text-align: center;
}

.batalla_inicio{
    animation-name: battle_start;
    animation-duration: 1000ms;
}

@keyframes battle_start {
    0%{
        transform: scaleX(0%) scaleY(0%) translateY(-300px);
        filter: brightness(0%);
    }
    40%{
        transform: scaleX(50%) scaleY(150%) translateY(-150px);
        filter: brightness(0%);
    }
    80%{
        transform: scaleX(110%) scaleY(90%) translateY(10px);
    }
    100%{
        transform: scaleX(100%) scaleY(100%) translateY(0px);
    }
}


#batalla_ataques{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    padding: 15px 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    box-sizing: border-box;
    background-image: url("http://drive.google.com/uc?export=view&id=1NCeOhBtLDkqaHw6iU1Bi8oQfod21o-VQ");
    background-size: cover;
    border: solid 3px black;
    border-radius: 0 0 0 20px;
}

#batalla_ataques button{
    margin: 3px 6px;
    width: 200px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #000000;
    transition-duration: 100ms;
}

#batalla_ataques button:hover{
    background-color: #000000;
    color: #ffffff;
    transform: scale(105%);
}

#combate{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow-y: scroll;
    scroll-snap-align:start;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 10px 0 0 0;
    box-sizing: border-box;
    background-image: url("http://drive.google.com/uc?export=view&id=1vFnEBqSsLmVoYmnzbEROPsNlJybR5oDz");
    background-size: cover;
    background-position: -50px 0px;
    border: solid 3px black;
    border-radius: 20px 0 0 0;
}

#combate::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000000;
}

#combate::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#combate::-webkit-scrollbar-thumb
{
    background-color: #ffffff;
}


#combate p{
    display: block;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    height: auto;
    width: 80%;
    background-color: #ffffff;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    animation-name: combatDialogo;
    animation-duration: 500ms;
}

#degCombate{
    z-index: 2;
    display: none;
    position: absolute;
    width: calc(85%/2.6);
    max-width: 372px;
    height: calc((55vh/1.44));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.815) 0%, rgba(255, 255, 255, 0) 40%);
    animation-name: degCombatAnima;
    animation-duration: 1000ms;
}

@keyframes combatDialogo {
    0%{
        transform: scale(0%);
    }
    50%{
        transform: scale(110%);
    }
    100%{
        transform: scale(100%);
    }
}

@keyframes degCombatAnima {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.hst_player{
    font-weight: bolder;
    color: blue;
}

.hst_pc{
    font-weight: bolder;
    color: red;
}

#endgame{
    justify-content: center;
    margin: 20px;
}

/* MUNDO ABIERTO */
#auxH2{
    display: none;
}

#auxL{
    display: block;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#auxL h2{
    margin: 0;
    font-size: 2rem;
}

#mapa{
    flex-direction: column;
    align-items: center;
}

#mapa_tablero{
    border:solid 2px black;
}
.mapa_botones{
    display: none;
}

#mapa_btR{
    grid-column: 3/4;
    grid-row: 2/3;
}

#mapa_btL{
    grid-column: 1/2;
    grid-row: 2/3;
}

#mapa_btDwn{
    grid-column: 2/3;
    grid-row: 2/3;
}

#mapa_btUp{
    grid-column: 2/3;
    grid-row: 1/2;
}

.auxRotar{
    display: none;
}

/* Media Querys Generales*/

@media (max-width:625px) {
    #selec_player{
        display: none;
    }

    .auxRotar{
        display: block;
        padding: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        background-color: white;
    }
}

@media (max-height: 750px) {
    .mapa_botones{
        margin-top: 10px;
        display: grid;
        width: 200px;
        height: 100px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    header{
        display: none;
    }
    
    #selec_player h2{
        font-size: 1rem;
    }

    .tarjet_pokemon{
        width: 180px;
        height: 200px;
        padding: 10px;
    }
    
    .tarjet_pokemon:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(85, 67, 245);
        cursor: pointer;
        transform: scale(105%);
        transition-property: transform;
    }
    .tarjet_pokemon_check{
        width: 175px;
        height: 195px;
    }

    .tarjet_pokemon img{
        image-rendering: pixelated;
        transform: scale(90%);
    }

    .tarjet_pokemon_check img{
        transform: scale(90%);
    }

    @keyframes selected {
        0%{
            transform: translateY(0px) scale(90%);
        }
        15%{
            transform: translateY(10px) scalex(100%) scaleY(80%);
        }
        35%{
            transform: translateY(-30px) scaley(100%) scaleX(80%);
        }
        55%{
            transform: translateY(10px) scalex(100%) scaleY(80%);
        }
        70%{
            transform: translateY(0px) scale(90%);
        }
        100%{
            transform: translateY(  0px) scale(90%);
        }
    }

    .arenaBatalla{
        height: 80vh;
    }

    #endgame{
        position: absolute;
        bottom: 20px;
    }

    .botonConfirmar{
        font-size: 1rem;
    }

    #batalla_ataques button{
        margin: 3px 6px;
        width: auto;
        height: auto;
        background-color: #ffffff;
        border-radius: 15px;
        color: #000000;
        transition-duration: 100ms;
        font-size: 3vh;
    }
    #batalla_ataques{
        padding: 0 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    #mapa h2{
        display: none;
    }

    #auxL{
        display: none;
    }

    #auxH2{
        display: block;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    #auxH2 h2{
        margin: 0;
        padding: 5px 10px;
        font-size: 1.1rem;
    }

    #mapa_tablero{
        height: 60vh;
        margin-top: 12px;
    }

    #info_battle h2{
        display: none;
    }

    #degCombate{
        width: calc(85%/2.7);
        max-width: 372px;
        height: calc((80vh/1.44));
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.815) 0%, rgba(255, 255, 255, 0) 40%);
        animation-name: degCombatAnima;
        animation-duration: 1000ms;
    }
    
    #combate::-webkit-scrollbar{
        width: 20px;
    }
}